[user]
	email = mdeangelo@strongboxdata.com
	name = Michael DeAngelo
[core]
	editor = vim
[alias]
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
	tree2 = log --all --graph --decorate --oneline --simplify-by-decoration
	tree3 = log --all --graph --decorate --oneline
