[user]
  email = iam@mdeangelo272.me
  name = Michael DeAngelo
[core]
  editor = vim
  excludesfile = /Users/mdeangelo272/.gitignore
  autocrlf = input
[alias]
  base-tree = log --all --graph
  tree  = base-tree --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%cn>%Creset' --date=relative
  heads = tree --simplify-by-decoration
  treed  = base-tree --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %n  Author: %Cgreen%ad -%C(bold blue) %aN <%aE> %Creset%n  Commit: %Cgreen%cd -%C(bold blue) %cN <%cE> %Creset%n' --date=iso-strict
  headsd = treed --simplify-by-decoration
  raw = base-tree --pretty=raw
  obj = cat-file -p
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"

[pull]
	rebase = false
